<h2><%= t('.subtitle') %></h2>
<%= form_for @todo_item do |f| %>
  <% if @todo_item.errors.any? %>
    <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
<br>
<%= link_to t('back'), todo_items_path %>
