<h2>List</h2>
<ul>
  <% @todo_items.each do |todo_item| %>
    <li>
      <%= form_tag todo_item_status_path(todo_item.id), method: :patch, remote: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= check_box_tag dom_id(todo_item), nil, checked=todo_item.done? %>
        <%= content_tag(:span, todo_item.description, id: "text_#{todo_item.id}") %>
      <% end %>

      <%= link_to t('delete'), todo_item, method: :delete, id: dom_id(todo_item, :delete) %> |
      <%= link_to t('edit'), edit_todo_item_path(todo_item) %> |
      <%= link_to t('show'), todo_item %>
    </li>
  <% end %>
</ul>
