<h1>Users</h1>
<%= link_to t('new'), new_user_path %>
<div>
  <% @users.each do |user| %>
    <ul>
      <li><%= User.human_attribute_name(:name) %>: <%= user.name %></li>
      <li><%= User.human_attribute_name(:username) %>: <%= user.username %></li>
      <li><%= User.human_attribute_name(:email) %>: <%= user.email %></li>
      <li><%= link_to t('edit'), edit_user_path(user) %></li>
      <li><%= link_to "delete", user, method: :delete, id: dom_id(user, :delete) %></li>
    </ul>
  <% end %>
</div>
