<div>
    <ul>
        <li><%= User.human_attribute_name(:name) %>: <%= @user.name %></li>
        <li><%= User.human_attribute_name(:username) %>: <%= @user.username %></li>
        <li><%= User.human_attribute_name(:email) %>: <%= @user.email %></li>
    </ul>
</div>
