<h2><%= t('.subtitle') %></h2>
<%= form_for @board, url: url do |f| %>
  <% if @board.errors.any? %>
    <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.submit %>
<% end %>
<br>

<%= link_to t('back'), boards_path %>